@import "../../../../node_modules/hamburgers/dist/hamburgers.css";

.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  .language-burger{
    display: flex;
    .languages{
      display: flex;
      border: 1px solid red;
      align-items: center;
      width: 40px;
      justify-content: space-between;
    }
  }
}
.header-text{
  text-align: left;
}
