@import "../../../../node_modules/hamburgers/dist/hamburgers.css";

.hamburger{
  padding: 0 !important;
}
.hamburger-box{
  //border: 1px solid red;
  .hamburger-inner{
    width: 35px;
    height: 0.1rem;
    &:before{
      @extend .hamburger-inner;
    }
    &:after{
      @extend .hamburger-inner;
    }

  }
  &:before{
    height: 1px;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  //border: 1px solid black;
  .logo{
    //border: 1px red dashed;
    display: flex;
    align-items: center;
    cursor: pointer;
    img{
      max-height: 50px;
      //border: 1px blue dashed;

    }
  }
  .language-burger{
    display: flex;
    .languages{
      display: flex;
      cursor: pointer;
      //border: 1px solid red;
      align-items: center;
      width: 43px;
      justify-content: space-between;
      margin-right: 20px;
      font-size: 0.9rem;

    }
  }
}
.header-text{
  text-align: left;
  p{
    font-size: 0.8rem;
  }
}

.open-nav{
  //border: 1px solid red;
  height: 100vh;
  position: absolute;
  top: 0;
  padding: 25px;
  width: calc(100% - 50px);
  //width: 100vw;
  left: 0;
  background: white;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10;
  &--holder{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    //padding-bottom: 150px;
    .images{
      margin-top: 70px;
      img{
        height: 30px;
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
      }
      //height: 30px;
    }
  }
  .nav-text{
    text-align: right;
    cursor: pointer;
  }
  &.show{
    display: flex;


  }
}
