@import "../../../styles";
.arla{
  .video{
    margin-top: 30px;
  }
  .arrow-holder{
    margin-top: 0;
  }

}

@include breakpoint(desktop) {
  .arla{
    .logo{
      margin-left: 30px;
    }

  }
}
