@import "../../../styles";

.project-holder {
  opacity: 0;
  &.show{
    opacity: 1;
    transition: $animate;
  }
  img {
    max-width: 100%;
    margin-bottom: 25px;
  }
  .languages {
    display: none;
    p{
      &.selected{
        font-weight: 500;
      }
    }
  }
  .img-holder{
    &--inner{
      &-inner {
        position: relative;
        .img-hover {
          display: none;
        }
      }
    }
  }
}

  @include breakpoint(desktop) {
    .project-holder{
      margin-top: 50px;
      margin-left: 260px;
      .img-holder{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        &--inner{
          cursor: pointer;
          &:first-child{
            margin-top: 60px;
          }
          &:nth-child(odd){
            .img-holder--inner-inner{
              padding-right: 16px;
            }
          }
          &:nth-child(even){
            .img-holder--inner-inner{
              padding-left: 16px;
              margin-top: -60px;
            }
          }
          &:nth-child(2){
            .img-holder--inner-inner{
              margin-top: 0;

            }
          }
          max-width : 50%;
          &-inner{
            position: relative;
            .img-hover{
              position: absolute;
              width: calc(100% - 16px);
              height: calc(100% - 30px);
              display: flex;
              justify-content: center;
              align-items: center;
              background: #464646;
              opacity: 0;
              transition: opacity 0.3s;

              // delete
              //background: black;
              //opacity: 0.7;
              //p{
              //  color: white;
              //}
              &:hover{
                background: #464646;
                opacity: 0.9;

                transition: opacity 0.3s linear;
                p{
                  color: white;
                }
              }
            }
          }

        }

      }

      .sorting{
        display: none;
      }
      .languages{
        position: absolute;

        display: flex;
        cursor: pointer;
        //border: 1px solid red;
        align-items: center;
        width: 43px;
        justify-content: space-between;
        //margin-right: 20px;
        font-size: 0.9rem;
        //margin-left: calc(100% - 43px);
        right: 0;
        top: 0;
        p{
          &:hover{
            font-weight: 500;
          }
        }


      }
    }


  }

