<div class="project-holder">
  <app-sorting></app-sorting>
  <img src="../../../assets/projects/andl.jpg" alt="andl">
  <img src="../../../assets/projects/arla.jpg" alt="arla">
  <img src="../../../assets/projects/book.jpg" alt="book">
  <img src="../../../assets/projects/booky.jpg" alt="booky">
  <img src="../../../assets/projects/edc.jpg" alt="edc">
  <img src="../../../assets/projects/fronts.jpg" alt="fronts">
  <img src="../../../assets/projects/gajol.jpg" alt="gajol">
  <img src="../../../assets/projects/imread.jpg" alt="imread">
  <img src="../../../assets/projects/moha.jpg" alt="moha">
  <img src="../../../assets/projects/otis.jpg" alt="otis">
  <img src="../../../assets/projects/pop.jpg" alt="pop">
  <img src="../../../assets/projects/posterChallenge.jpg" alt=posterChallenge>
  <img src="../../../assets/projects/spotify.jpg" alt="spotify">
  <img src="../../../assets/projects/stp.jpg" alt="stp">
  <img src="../../../assets/projects/tattoo.jpg" alt="tattoo">
  <img src="../../../assets/projects/valentines.jpg" alt="valentines">

</div>
