<div class="project-holder" [ngClass]="animate ? 'show' : ''">

  <div class="project-holder--inner">
<!--    <div class="languages">-->
<!--      <p (click)="setLanguage('en')" class="en" [ngClass]="this.local.getItem('lan') === 'en' ? 'selected' : ''">en</p>-->
<!--      <span class="line">|</span>-->
<!--      <p (click)="setLanguage('pl')" class="pl"[ngClass]="this.local.getItem('lan') === 'pl' ? 'selected' : ''" >pl</p>-->
<!--    </div>-->

    <app-sorting (filter)="receiveMessage($event)" class="sorting"></app-sorting>
    <div class="img-holder">
      <div class="img-holder--inner" *ngIf="filter === 'games' || filter === 'any' || filter === 'uiux'">
        <div class="img-holder--inner-inner odd">
          <div class="img-hover" [routerLink]="['/stp']">
            <div>
              <h1>{{'projects.hover.stp.h1' | translate}}</h1>
              <p>{{'projects.hover.stp.p' | translate}}</p>
            </div>
          </div>
          <!--games-->
          <img src="../../../assets/projects/stp.jpg"
               alt="stp"
               [routerLink]="['/stp']"></div>
      </div>
      <div class="img-holder--inner" *ngIf="filter === 'concept' || filter === 'any' || filter === 'uiux'">
        <div class="img-holder--inner-inner  first">
          <div class="img-hover" [routerLink]="['/&learning']">
            <div>
              <h1>{{'projects.hover.learning.h1' | translate}}</h1>
              <p>{{'projects.hover.learning.p' | translate}}</p>
            </div>
          </div>
          <!--concet-->
          <img src="../../../assets/projects/&learning.jpg"
               alt="andl"
               [routerLink]="['&learning']">
        </div>
      </div>

      <div class="img-holder--inner" *ngIf="filter === 'concept' || filter === 'any'|| filter === 'uiux'">  <!--conpetc-->
        <div class="img-holder--inner-inner " >
          <div class="img-hover" [routerLink]="['/gajol']">
            <div>
              <h1>{{'projects.hover.gajol.h1' | translate}}</h1>
              <p>{{'projects.hover.gajol.p' | translate}}</p>
            </div>
          </div>
          <img src="../../../assets/projects/gajol.jpg"
               alt="gajol"
               [routerLink]="['/gajol']"></div>
      </div>

      <div class="img-holder--inner" *ngIf="filter === 'games' || filter === 'any'">   <!--games-->
        <div class="img-holder--inner-inner odd">
          <div class="img-hover" [routerLink]="['/valentines']">
            <div>
              <h1>{{'projects.hover.valentines.h1' | translate}}</h1>
              <p>{{'projects.hover.valentines.p' | translate}}</p>
            </div>
          </div>
          <img src="../../../assets/projects/valentines.jpg"
               alt="valentines"
               [routerLink]="['/valentines']"></div>
      </div>

      <div class="img-holder--inner" *ngIf="filter === 'concept' || filter === 'any'">
        <div class="img-holder--inner-inner odd second">
          <!--concept-->
          <div class="img-hover" [routerLink]="['/arla']">
            <div>
              <h1>{{'projects.hover.arla.h1' | translate}}</h1>
              <p>{{'projects.hover.arla.p' | translate}}</p>
            </div>
          </div>
          <img src="../../../assets/projects/arla.jpg"
               alt="arla"
               [routerLink]="['/arla']"></div>
      </div>


      <div class="img-holder--inner" *ngIf="filter === 'concept' || filter === 'any' || filter === 'uiux'">    <!--concept-->
        <div class="img-holder--inner-inner ">
          <div class="img-hover" [routerLink]="['/edc']">
            <div>
              <h1>{{'projects.hover.edc.h1' | translate}}</h1>
              <p>{{'projects.hover.edc.p' | translate}}</p>
            </div>
          </div>
          <img src="../../../assets/projects/edc.jpg"
               alt="edc"
               [routerLink]="['/edc']"></div>
      </div>

      <div class="img-holder--inner" *ngIf="filter === 'print' || filter === 'any'"> <!--print-->
        <div class="img-holder--inner-inner odd">
          <div class="img-hover" [routerLink]="['/project/poster-challenge']">
            <div>
              <h1>{{'projects.hover.poster.h1' | translate}}</h1>
              <p>{{'projects.hover.poster.p' | translate}}</p>
            </div>
          </div>
          <img src="../../../assets/projects/poster-challenge.jpg"
               alt=posterChallenge
               [routerLink]="['/project/poster-challenge']"></div>
      </div>

      <div class="img-holder--inner" *ngIf="filter === 'any' || filter === 'uiux'">   <!--ux-->
        <div class="img-holder--inner-inner odd">
          <div class="img-hover" [routerLink]="['/project/imread']">
            <div>
              <h1>{{'projects.hover.imaread.h1' | translate}}</h1>
              <p>{{'projects.hover.imaread.p' | translate}}</p>
            </div>
          </div>
          <img src="../../../assets/projects/imread.jpg"
               alt="imread"
               [routerLink]="['/project/imread']"></div>
      </div>

      <div class="img-holder--inner" *ngIf="filter === 'logo' || filter === 'any'"> <!--logo-->
        <div class="img-holder--inner-inner odd">
          <div class="img-hover" [routerLink]="['/project/logos']">
            <div>
              <h1>{{'projects.hover.logos.h1' | translate}}</h1>
              <p></p>
            </div>
          </div>
          <img src="../../../assets/projects/logos.jpg"
               alt="fronts"
               [routerLink]="['/project/logos']"></div>
      </div>



      <div class="img-holder--inner" *ngIf="filter === 'print' || filter === 'any'">    <!--print-->
        <div class="img-holder--inner-inner odd">
          <div class="img-hover" [routerLink]="['/project/otis']">
            <div>
              <h1>{{'projects.hover.otis.h1' | translate}}</h1>
              <p>{{'projects.hover.otis.p' | translate}}</p>
            </div>
          </div>
          <img src="../../../assets/projects/otis.jpg"
               alt="otis"
               [routerLink]="['/project/otis']"></div>
      </div>
  </div>

  </div>


</div>


