@import "../../../styles";

.project-holder {
  img {
    max-width: 100%;
    margin-bottom: 25px;
  }
  .languages {
    display: none;
  }
}

  @include breakpoint(desktop) {
    .project-holder{
      .img-holder{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        &--inner{
          cursor: pointer;
          &:first-child{
            margin-top: 60px;
          }
          &:nth-child(odd){
            .img-holder--inner-inner{
              padding-right: 16px;
            }
          }
          &:nth-child(even){
            .img-holder--inner-inner{
              padding-left: 16px;
              margin-top: -60px;
            }
          }
          &:nth-child(2){
            .img-holder--inner-inner{
              margin-top: 0;

            }
          }
          max-width : 50%;
        }

      }

      .sorting{
        display: none;
      }
      .languages{
        display: flex;
        cursor: pointer;
        //border: 1px solid red;
        align-items: center;
        width: 43px;
        justify-content: space-between;
        //margin-right: 20px;
        font-size: 0.9rem;
        margin-left: calc(100% - 43px);
        p{
          &:hover{
            font-weight: 500;
          }
        }


      }
    }


  }

