<div class="project-single">
  <h1>{{key}}</h1>
    <!--<div class="text" *ngIf="isLoaded">-->
      <!--<h1>{{content[key+'Title']}}</h1>-->
      <!--<h3 innerHTML="{{content[key+'Des']}}"></h3>-->
      <!--{{content[key+'Des']}}-->
    <!--</div>-->
  <img src="assets/projects/single/{{key}}.jpg" alt="project">
    <!--<div id="singleImgHolder" class="singleImgHolder">-->
      <!--<img [src]="imgSrc" alt="project_images" *ngIf="isLoaded"-->
           <!--[ngClass]="{'otisBook': key ==='otisBook',-->
         <!--'mohaLogo': key === 'mohaLogo',-->
         <!--'esportLogo': key === 'esportLogo',-->
         <!--'pieceOfPlantLogo': key === 'pieceOfPlantLogo',-->
         <!--'theBugLogo' : key === 'theBugLogo',-->
         <!--'rowForWaterLogo': key === 'rowForWaterLogo',-->
         <!--'theBugWebsite': key === 'theBugWebsite',-->
         <!--'bookCover': key === 'bookCover',-->
         <!--'bookyLogo': key === 'bookyLogo',-->
         <!--'summerPosters': key === 'summerPosters' && !isMobile}">-->
    <!--</div>-->
</div>
