<div class="project-single"  *ngIf="!imgLoading && ! contentLoading" >
  <div class="languages">
    <p (click)="setLanguage('en')" class="en" [ngClass]="this.local.getItem('lan') === 'en' ? 'selected' : ''">en</p>
    <span class="line">|</span>
    <p (click)="setLanguage('pl')" class="pl"[ngClass]="this.local.getItem('lan') === 'pl' ? 'selected' : ''" >pl</p>
  </div>

  <h1 *ngIf="content[key + 'Header']">{{content[key + 'Header']}}</h1>
  <p  *ngIf="content[key + 'Des']" [innerHtml]="content[key + 'Des'] | safeHtml" class="description"></p>
  <div class="img-holder">
    <img src="assets/projects/single/{{key}}.jpg" alt="project" >
    <img src="assets/projects/arrow.png" alt="arrow" class="arrow" (click)="scrollToTop()" >
  </div>
  <iframe width="100%" height="300"
          src="https://www.youtube.com/embed/Ql3Skg_HucU"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen *ngIf="key === 'arla'" class="mobile"></iframe>

  <iframe width="100%" height="500"
          src="https://www.youtube.com/embed/Ql3Skg_HucU"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen *ngIf="key === 'arla'" class="desktop"></iframe>


  <p *ngIf="content[key + 'Credits']" class="credits">{{content[key + 'Credits']}}</p>


</div>
<!---->
<div class="sk-three-bounce subPage" *ngIf="imgLoading || contentLoading">
  <div>
    <div class="sk-child sk-bounce1"></div>
    <div class="sk-child sk-bounce2"></div>
    <div class="sk-child sk-bounce3"></div>
  </div>

  <p>loading</p>
</div>

<!--preload img-->
<img src="assets/projects/single/{{key}}.jpg" alt="project" style="display: none" (load)="imgLoaded()">
