@import "../../../styles";

.pw-loader{
  z-index: 9999999999999999999999;
  //border: 1px solid red;
  height: 100px;
  width: 100px;
  min-height: 100px;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
}
.password{
  position: absolute;
  top: 0;
  height: 100vh;
  width: calc(100vw);
  left: 0;
  background: #29282B;
  opacity: 0.95;
  z-index: 2;
  //padding: 0 20px;
  .password-inner{
    padding-top: 129px;
    //position: relative;
    //padding-bottom: 62px;
    img{
      margin-bottom: 40px;
    }
    display: flex;
    flex-direction: column;
    //border: 1px solid red;
    align-items: center;
    h1{
      font-size: 20px;
      color: #EAEAEA;
      font-weight: 600;
      margin: 0 0 15px 0;

      line-height: 1;
    }
    p{
      font-size: 13px;
      color: #7F7F80;
      margin: 0;
      line-height: 1;
    }
  }
}
.input-holder{
  position: absolute;
  top: 311px;
  z-index: 3;
  left: calc(50% - 152px);
  img{
    position: absolute;
    left: 260px;
    top: 17px;
    &.error{
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;

    }
  }
  p{
    display: none;
    &.error{
      display: block;
      color: #CE6F6F;
      font-size: 12px;
    }
  }
}
input{
  &.error{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    border: 1px solid #CE6F6F;
  }
  //margin-top: 62px;
  width: 280px;
  height: 50px;
  background: white;
  //position: absolute;
  //top: 295px;
  padding-left: 24px;
  //z-index: 3;
  border-radius: 2px;
  border: none;
  color: #BFBFBF;
  font: 16px/50px Poppins 300;
  &:focus{
    outline: none;
  }
  &::placeholder{
    color: #BFBFBF;
    font: 16px/50px Poppins 300;
  }
}

@include breakpoint(desktop) {
  .password {
    position: absolute;
    top: 0;
    height: 100vh;
    width: calc(100vw - 14px);
    left: 0;
    background: #29282B;
    opacity: 0.95;
    z-index: 2;
    padding: 0;
    .password-inner {
      h1{
        font-size: 40px;
        //color: #EAEAEA;
        //font-weight: 600;
        margin: 0 0 15px 0;

        line-height: 1;
      }
      p{
        font-size: 16px;
      }
    }
  }
  .input-holder{
    position: absolute;
    top: 355px;
    z-index: 3;
    left: calc(50% - 186.5px);
    img{
      position: absolute;
      left: 351px;
      top: 15px;
    }
  }
  input{
    &.error{
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }
    //margin-top: 62px;
    width: 373px;
    height: 50px;
    background: white;
    //position: absolute;
    //top: 295px;
    padding-left: 24px;
    //z-index: 3;
    border-radius: 2px;
    border: none;
    color: #BFBFBF;
    font: 16px/50px Poppins 300;
    &:focus{
      outline: none;
    }
    &::placeholder{
      color: #BFBFBF;
      font: 16px/50px Poppins 300;
    }
  }

}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
