<div class="about show project-page" *ngIf="!imgLoading">
    <img src="assets/about/me.jpg" class="p-image p1">
  <div class="line"></div>
  <div class="white-box">
    <h3 style="text-transform: capitalize">{{'about.h1' | translate}}</h3>
    <p>{{'about.h1Des' | translate}}</p>
    <p>{{'about.h1Des1' | translate}}</p>
    <p class="footer">{{'projects.gajol.footer' | translate}}</p>
  </div>


<!--  <img src="assets/about/me.jpg" [ngClass]="animate ? 'show' : ''">-->
<!--  <div class="about-text" [ngClass]="animate ? 'show' : ''">-->
<!--    <span>-->
<!--      {{'about.pataInfo' | translate}}-->
<!--    </span>-->
<!--  </div>-->

</div>

<div class="sk-three-bounce subPage" *ngIf="imgLoading">
  <div>
    <div class="sk-child sk-bounce1"></div>
    <div class="sk-child sk-bounce2"></div>
    <div class="sk-child sk-bounce3"></div>
  </div>

  <p>loading</p>
</div>

<img src="assets/about/me.jpg" style="display: none" (load)="imgLoaded()">
