<!--The content below is only a placeholder and can be replaced.-->
<div class="app" *ngIf="!imgLoading && ! contentLoading">
  <div class="app-inner">
    <app-header></app-header>
    <app-projects [content]="projectsContent" *ngIf="router.url === '/' || router.url.indexOf('?') > -1"></app-projects>
    <router-outlet></router-outlet>
  </div>
  <div class="sk-three-bounce" *ngIf="imgLoading || contentLoading">
    <div>
      <div class="sk-child sk-bounce1"></div>
      <div class="sk-child sk-bounce2"></div>
      <div class="sk-child sk-bounce3"></div>
    </div>

    <p>loading</p>
  </div>

</div>
<!--pre load-->
<img src="../../../assets/projects/&learning.jpg"
     (load)="imgLoaded()"
     style="display: none;">
<img src="../../../assets/projects/stp.jpg"
     (load)="imgLoaded()"
     style="display: none;">

<img src="../../../assets/projects/booky.jpg"
     (load)="imgLoaded()"
     style="display: none;">
<img src="../../../assets/projects/gajol.jpg"
     (load)="imgLoaded()"
     style="display: none;">
<img src="../../../assets/projects/valentines.jpg"
     (load)="imgLoaded()"
     style="display: none;">
<img src="../../../assets/projects/arla.jpg"
     (load)="imgLoaded()"
     style="display: none;">
<img src="../../../assets/projects/edc.jpg"
     (load)="imgLoaded()"
     style="display: none;">
<img src="../../../assets/projects/poster-challenge.jpg"
     (load)="imgLoaded()"
     style="display: none;">
<img src="../../../assets/projects/spotify.jpg"
     (load)="imgLoaded()"
     style="display: none;">
<img src="../../../assets/projects/imread.jpg"
     (load)="imgLoaded()"
     style="display: none;">
<img src="../../../assets/projects/logos.jpg"
     (load)="imgLoaded()"
     style="display: none;">

<img src="../../../assets/projects/otis.jpg"
     (load)="imgLoaded()"
     style="display: none;">
<!--<img src="../../../assets/projects/moha.jpg"-->
<!--     (load)="imgLoaded()"-->
<!--     style="display: none;">-->
<!--<img src="../../../assets/projects/pop.jpg"-->
<!--     (load)="imgLoaded()"-->
<!--     style="display: none;">-->

<!--<img src="../../../assets/projects/book.jpg"-->
<!--     (load)="imgLoaded()"-->
<!--     style="display: none;">-->
<!--<img src="../../../assets/projects/tattoo.jpg"-->
<!--     (load)="imgLoaded()"-->
<!--     style="display: none;">-->
