@import "../../../styles";
.edc{
  .logo{

  }
}
@include breakpoint(desktop) {
  .edc{
    .logo{
      margin-left: 34px;
    }
    .p-image{
      &.edc-phone{
        margin-top: 23px;
        width: 50%;
      }
    }
    .phone-image{

      //margin-top: -50px;
      //margin-bottom: -50px;
    }
  }

}
