@import "../../../styles";

.learning{
  .logo{
    width: 210px;

  }

}
@include breakpoint(desktop) {
  .learning{

    .logo{
      margin-left: 38.5px;
      margin-bottom: 40px;
      width: auto;

    }
    .phone-image{
      img{
        max-width: 50%;
      }
    }

  }
}
