@import "../../../styles";

.learning{
  .logo{
    width: 210px;

  }

}
@include breakpoint(desktop) {
  .learning{

    .logo{
      margin-left: 57.5px;
      margin-bottom: 40px;
      width: auto;

    }

  }
}
