<div class="sorting">
  <div class="sort" (click)="changeSorting()">
    <span>{{'sorting.sort' | translate}}</span>
  </div>
  <div class="menu" [ngClass]="showSorting ? 'show' : ''">
    <span (click)="sendFilter('any')" [ngClass]="filter === 'any' ? 'selected' : ''">{{'sorting.all' | translate}}</span>
    <span (click)="sendFilter('concept')" [ngClass]="filter === 'concept' ? 'selected' : ''">{{'sorting.concept' | translate}}</span>
    <span (click)="sendFilter('uiux')" [ngClass]="filter === 'uiux' ? 'selected' : ''">{{'sorting.uiux' | translate}}</span>
    <span (click)="sendFilter('games')" [ngClass]="filter === 'games' ? 'selected' : ''"> {{'sorting.game' | translate}}</span>
<!--    <span (click)="sendFilter('webDesign')" [ngClass]="filter === 'webDesign' ? 'selected' : ''">{{content['webDesign']}}</span>-->
    <span (click)="sendFilter('logo')" [ngClass]="filter === 'logo' ? 'selected' : ''">print & logos</span>
<!--    <span (click)="sendFilter('print')" [ngClass]="filter === 'print' ? 'selected' : ''">{{content['print']}}</span>-->
<!--    <span (click)="sendFilter('visual')" [ngClass]="filter === 'visual' ? 'selected' : ''">{{content['identity']}}</span>-->

  </div>

</div>
