/* You can add global styles to this file, and also import other style files */
@import "assets/loader/loader";
@import "styles/typography";
@import "styles/layout";
@import "styles/breakpoints";
body{
 font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 25px 20px 0 20px;
}
// remove border blue line from focus element
*:focus {outline:none}
*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}
p{
  &.bold{
    font-weight: 500;
  }
}


