<div class="project-page">
  <div class="line"></div>
  <img src="assets/projects/imread/logo.png" class="logo">
  <h3>{{'projects.imread.h1' | translate}}</h3>
  <p>{{'projects.imread.h1Des' | translate}}</p>
  <h3>{{'projects.imread.h2' | translate}}</h3>
  <p>{{'projects.imread.h2Des' | translate}}</p>
  <img src="assets/projects/imread/pic1.png" class="p-image p1">
  <h3>{{'projects.imread.h3' | translate}}</h3>
  <p>{{'projects.imread.h3Des' | translate}}</p>
  <h3>{{'projects.imread.h4' | translate}}</h3>
  <p>{{'projects.imread.h4Des' | translate}}</p>
  <h3>{{'projects.imread.h5' | translate}}</h3>
  <h5>{{'projects.imread.sh1' | translate}}</h5>
  <h3>{{'projects.imread.h6' | translate}}</h3>
  <p>{{'projects.imread.h6Des' | translate}}</p>
  <img src="assets/projects/imread/pic2.png" class="p-image p1">
  <p>{{'projects.imread.h6Des1' | translate}}</p>
  <img src="assets/projects/imread/pic3.png" class="p-image p1">
  <img src="assets/projects/imread/pic4.png" class="p-image p1">
  <img src="assets/projects/imread/pic5.png" class="p-image p1">
  <img src="assets/projects/imread/pic6.png" class="p-image p1">
  <img src="assets/projects/imread/pic7.png" class="p-image p1">
  <img src="assets/projects/imread/pic8.png" class="p-image p1">
  <h3>{{'projects.imread.h7' | translate}}</h3>
  <p>{{'projects.imread.h7Des' | translate}}</p>
  <img src="assets/projects/imread/pic9.png" class="p-image p1">
  <img src="assets/projects/imread/pic10.png" class="p-image p1">
  <img src="assets/projects/imread/pic11.png" class="p-image p1">
  <img src="assets/projects/imread/pic12.png" class="p-image p1">
  <h3>{{'projects.imread.h7' | translate}}</h3>
  <p>{{'projects.imread.h8Des' | translate}} <span class="bold">{{'projects.imread.h8Bold' | translate}}</span>
    {{'projects.imread.h8Des1' | translate}}<br>
    {{'projects.imread.h8Des2' | translate}}<br>
    {{'projects.imread.h8Des3' | translate}}
  </p>
  <img src="assets/projects/imread/pic13.png" class="p-image p1">
  <p class="no-header">{{'projects.imread.sh2' | translate}}</p>
  <p class="footer">{{'projects.gajol.footer' | translate}}</p>
  <img src="assets/projects/arrow.png" alt="arrow" class="arrow" (click)="scrollToTop()" >

</div>

<!--todo-->
