@import "../../../styles";
.imaread{
  .logo{
    width: 160px;
  }
  .bold{
    a{
      color: black;
      text-decoration: none;
    }
  }
}
@include breakpoint(desktop) {
  .imaread{
    .logo{
      margin-left: 39px;
      width: 200px;
    }
  }
}
